---
// Types
import type { HTMLAttributes } from "astro/types";
// Components
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"li"> {
    link: {
        label: string;
        url: string;
    };
}
// Props
const { link, ...attributes } = Astro.props;
// Error handling
if (!link) throw new Error("No props provided for ProjectLink.");
if (!link.label) throw new Error("No label provided for ProjectLink.");
if (!link.url) throw new Error("No url provided for ProjectLink.");
const { label, url } = link;
---

<li class:list={["project-link-container", attributes.class]} {...attributes}>
    <project-link>
        <a
            href={url}
            class="project-link-anchor"
            target="_blank"
            rel="noopener"
            aria-describedby="tooltip"
        >
            <Icon
                name={label === "view live" ? "lucide:external-link" : "lucide:github"}
                size={30}
            />
        </a>
        <div class="link-tooltip" id="tooltip" role="tooltip">
            {label}
            <div class="link-tooltip-arrow" id="arrow"></div>
        </div>
    </project-link>
</li>

<style lang="scss">
    @use "../../sass/abstracts" as *;
    .project-link-container {
        position: relative;
    }
    .project-link-anchor {
        font-size: $fs-500;
        text-transform: capitalize;
        color: $primary-800;
        display: grid;
        place-items: center;
        margin-top: 2rem;
        transition: 200ms ease-in-out;
        text-decoration: underline;
        padding: 10px 2px 5px 2px;

        &:hover,
        &:focus-visible {
            font-weight: $bold;
        }
        &:focus-visible {
            outline: 3px solid $blue-sapphire;
            outline-offset: -0.26rem;
        }
        &:visited {
            color: $primary-800;
        }
    }
    .link-tooltip {
        display: none;
        background: $neutral-900;
        color: $primary-50;
        font-weight: $semi-bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: $fs-400;
        width: max-content;
        position: absolute;
        top: 0;
        left: 0;
    }
    .link-tooltip-arrow {
        position: absolute;
        background: $neutral-900;
        width: 0.5rem;
        height: 0.5rem;
        transform: rotate(45deg);
    }
</style>
