---
/* components/ProjectsSection/Projects.astro */
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {}
const { ...attributes } = Astro.props;
import SectionHeading from "@components/ui/SectionHeading.astro";
import ProjectList from "@components/projects/ProjectList.astro";
---

<section class:list={["projects | section", attributes.class]} id="projects" {...attributes}>
    <div class="wrapper">
        <SectionHeading preamble={"check out"} heading="my work" colour={"text-primary-50"} />
        <ProjectList />
    </div>
    <!--.wrapper end-->
</section>
<!-- projects section end -->
<style lang="scss">
    @use "../../sass/abstracts" as *;
    @use "../../sass/utilities" as *;

    .projects {
        background-color: $primary-950;
        color: $primary-50;
    }
</style>
