/* ==========================================================================
   Base styles
   ========================================================================== */
@use "../abstracts" as *;

html {
    @include box-reset;

    max-width: 100%;
}

body {
    @include box-reset;

    max-width: 100%;
}

ul {
    @include box-reset;

    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    @include box-reset;

    transition: 200ms;
    border: none;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
