/* ==========================================================================
   Typography
   ========================================================================== */
@use "../abstracts" as *;

html {
    font-size: 62.5%; // base font size of 10px;
}
/* montserrat-latin-wght-normal */
@font-face {
    font-family: "Montserrat Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 600 700;
    src: url(@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

/* playfair-display-latin-wght-normal */
@font-face {
    font-family: "Playfair Display Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource-variable/playfair-display/files/playfair-display-latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

// Universal font styling
body {
    font-family: $body-font;
    line-height: $body-height;
    font-size: $body-size;
    font-weight: $regular;
    color: $light-grey;
}

p {
    line-height: $roomy-line-height;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: $heading-size-lg;

    @include box-reset;

    margin: 0 auto 50px;
    width: 100%;
}

h4 {
    @include box-reset;

    font-family: $subheading-font;
    font-weight: $regular;
    text-transform: lowercase;
    text-align: center;
}

.read-more {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: $blue-sapphire;
}

.heading-size-lg {
    font-size: $heading-size-lg;
}

.heading-size-md {
    font-size: $heading-size-md;
}

.heading-size-sm {
    font-size: $heading-size-sm;
}
