/* ==========================================================================
   Typography
   ========================================================================== */
@use "../abstracts" as *;

html {
    font-size: 62.5%; // base font size of 10px;
}

// Universal font styling
body {
    font-family: $body-font;
    line-height: $body-height;
    font-size: $body-size;
    font-weight: $regular;
    color: $light-grey;
}

p {
    line-height: $roomy-line-height;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: $heading-size-lg;

    @include box-reset;

    margin: 0 auto 50px;
    width: 100%;
}

h4 {
    @include box-reset;

    font-family: $subheading-font;
    font-weight: $regular;
    text-transform: lowercase;
    text-align: center;
}

.read-more {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: $blue-sapphire;
}

.heading-size-lg {
    font-size: $heading-size-lg;
}

.heading-size-md {
    font-size: $heading-size-md;
}

.heading-size-sm {
    font-size: $heading-size-sm;
}