/* ==========================================================================
   Typography
   ========================================================================== */
@use "../abstracts" as *;

html {
  font-size: 62.5%; // base font size of 10px;
}

// Universal font styling
body {
  font-family: $body-font;
  font-size: $body-size;
  font-weight: $regular;
  line-height: $body-height;
  font-display: swap;
  color: white;
}

p {
  line-height: $roomy-line-height;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: $heading-size-lg;

  @include box-reset;

  margin: 0 auto 50px;
  width: 100%;
}

h4 {
  @include box-reset;

  font-family: $subheading-font;
  font-weight: $regular;
  text-transform: lowercase;
  text-align: center;
}

.my-profile-link,
.read-more {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: $blue-sapphire;
}

.heading-size-lg {
  font-size: $heading-size-lg;
}

.heading-size-md {
  font-size: $heading-size-md;
}

.heading-size-sm {
  font-size: $heading-size-sm;
}

// about section typography
.about {
  h3,
  p {
    font-size: $heading-size-md;
    line-height: $roomy-line-height;
  }

  a {
    color: $blue-sapphire;
    font-weight: $semi-bold;
    padding: 2px;
  }
}

// skills section typography
.skills {
  p {
    @include font-size(14);

    text-align: center;
    line-height: $roomy-line-height;
  }

}

// projects section typography
.projects {
  h2,
  h4 {
    color: white;
  }

  h3 {
    @include font-size(18);

    text-align: center;
    margin: 50px 0 40px;
  }

  i,
  p {
    color: black;
  }

  a {
    color: $blue-sapphire;
    text-underline-offset: 0.5rem;
  }

  a:visited {
    color: $purple-plum;
  }

  p {
    @include font-size(16);

    line-height: $roomy-line-height;
  }

  .tech-list-item p {
    @include font-size(14);
  }

  .github-link,
  .view-live-link {
    font-weight: $semi-bold;
    text-transform: uppercase;
    line-height: $body-height;
  }
}

// profile section typography
.profile {
  h3 {
    text-transform: uppercase;
    font-weight: $regular;
    font-size: 3rem;
  }

  .profile-instructions {
    padding: 0 15px;
  }

  .profile-list-item {
    @include font-size(14);

    i {
      font-size: 5rem;
      color: $blue-sapphire;
    }
  }

  .profile-link {
    font-weight: $semi-bold;
    text-transform: uppercase;
    line-height: $body-height;
    padding: 10px 0;
    margin: 25px 0;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    transition: 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus-visible {
      outline-offset: 0.2rem;
      outline: 3px solid $blue-sapphire;
    }
  }

  .coffee-link {
    margin-top: 25px;
    width: 200px;
    display: block;
  }

  .message-me {
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;

    &:focus,
    &:hover {
      font-weight: $bold;
      border: 2px solid black;
    }
  }

  .meet-with-me {
    padding-top: 15px;
    margin-top: 0;
  }

  .request-resume,
  .meet-with-me {
    text-align: center;
    background-color: $blue-sapphire;
    background-size: cover;
    color: white;

    &:focus,
    &:hover {
      height: 50px;
      font-weight: $bold;
    }
  }
}

.profile-form {
  label {
    line-height: $ben-heading-height;
    transition: none;
  }

  input[type="radio"] {
    &:checked {
      + label {
        color: $blue-sapphire;
      }
    }
  }
}

// contact section typography
.contact {
  color: white;

  a {
    color: white;
    margin: 15px 0;
    height: 50px;
    display: flex;
    align-items: center;
  }

  p {
    text-transform: uppercase;
  }

  .section-heading-container h4 {
    border-left: 1px solid white;
  }

  input,
  textarea {
    color: white;

    &::placeholder {
      color: white;
    }

    &:focus,
    &:hover {
      font-weight: $semi-bold;

      &::placeholder {
        font-weight: $semi-bold;
      }
    }
  }

  form {
    font-family: $body-font, sans-serif;
    color: white;

    input,
    textarea {
      font-family: $body-font, sans-serif;
    }
  }

  .send-button {
    text-transform: uppercase;
    font-weight: $semi-bold;
    color: white;
    font-family: $body-font, sans-serif;

    &:focus,
    &:hover {
      font-weight: $bold;
      transform: scale(1.1);
    }

    &:focus-visible {
      outline-offset: 0.2rem;
      outline: 3px solid white;
    }
  }

  .contact-email-address {
    &:hover,
    &:focus {
      transform: none;
      font-weight: $semi-bold;
    }

    &:focus-visible {
      outline-offset: 0.2rem;
      outline: 3px solid white;
    }
  }
}
