@use "../utilities/colours" as *;
@use "../utilities/type-scale" as *;
@use "../utilities/font-weight" as *;
@use "breakpoints" as *;

:root {
    --scroll-padding: 6rem;

    @each $colour, $shade-map in $colours {
        /* colour each loop */
        @each $shade, $value in $shade-map {
            & {
                --clr-#{$colour}-#{$shade}: #{$value};
            }
            .text-#{$colour}-#{$shade} {
                color: var(--clr-#{$colour}-#{$shade});
            }
            .bg-#{$colour}-#{$shade} {
                background-color: var(--clr-#{$colour}-#{$shade});
            }
        }
    }

    @each $screen-size, $font-size in $type-scale {
        /* type-scale each loop */
        @if $screen-size == small {
            @each $size, $value in $font-size {
                & {
                    --fs-#{$size}: #{$value};
                }
                .fs-#{$size} {
                    font-size: var(--fs-#{$size});
                }
            }
        } @else {
            @include mq(small) {
                @each $size, $value in $font-size {
                    & {
                        --fs-#{$size}: #{$value};
                    }
                    .fs-#{$size} {
                        font-size: var(--fs-#{$size});
                    }
                }
            }
        }
    }

    @each $weight, $value in $font-weight-scale {
        /* font-weight each loop */
        & {
            --fw-#{$weight}: #{$value};
        }
        .fw-#{$weight} {
            font-weight: var(--fw-#{$weight});
        }
    }
}
