// base styles
body {
    background: white;
    overflow-x: hidden;
    @include boxReset;
    color: black;
}
ul {
    @include boxReset;
    list-style: none;
}

img { 
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    @include boxReset;
    transition: 0.1s;
    
    &:hover,
    &:focus {
        transform: scale(1.2)
    }
}

section {
    @include boxReset;
    padding: 100px 0;
}

button {
    background-color: transparent;
    border: none;
}

.hidden {
    position: absolute;
    right: 50000px;
}