// base styles
body {
    background: white;
    overflow-x: hidden;
    @include boxReset;
}
ul {
    @include boxReset;
    list-style: none;
}

img { 
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    @include boxReset;
    transition: 0.1s;
    
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        border: 3px solid $blue-jeans;
    }
}

i {
    font-size: $iconSize;
}

section {
    @include boxReset;
    padding: 150px 0;
}

button {
    background-color: transparent;
    border: none;
    transition: 0.2s;
    &:hover,
    &:focus {

        transform: scale(1.2);
    }
}

.hidden {
    position: absolute;
    right: 50000px;
}