// base styles
html {
    overflow-x: hidden;
}
body {
    background: white;
    overflow-x: hidden;
    @include boxReset;
}

ul {
    @include boxReset;
    list-style: none;
}

img { 
    max-width: 100%;
    height: auto;
    display: block;
}
.wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    @include boxReset;
    transition: 0.1s;
    border: none;
    
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        border: 5px solid $blue-jeans;
        transform: scale(1.1);
    }
}

i {
    font-size: $iconSize;
}

section {
    @include boxReset;
    padding: 150px 0;
}

button {
    background-color: transparent;
    border: none;
    transition: 0.2s;
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.subHeadingContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h4 {
        width: fit-content;
        height: 50px;
        margin-left: 40%;
        padding-left: 10px;
        padding-top: 34px;
        text-align: left;
        border-left: 1px solid black;
    }
}

.hidden {
    display: none;
}