// Font faces partial

// The following CSS from the Simple Line Fonts instructions
@font-face {
	font-family: "Simple-Line-Icons";
	src: url("../assets/fonts/Simple-Line-Icons.eot");
	src: url("../assets/fonts/Simple-Line-Icons.eot?#iefix")
			format("embedded-opentype"),
		url("../assets/fonts/Simple-Line-Icons.woff") format("woff"),
		url("../assets/fonts/Simple-Line-Icons.ttf") format("truetype"),
		url("../assets/fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
}

// Classes for the Simple Line Icon fonts
.icon-user,
.icon-energy,
.icon-social-twitter,
.icon-cup,
.icon-calendar,
.icon-envelope {
	font-family: "Simple-Line-Icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-display: swap;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-energy:before {
	content: "\e020";
}

.icon-user:before {
	content: "\e005";
}

.icon-social-twitter:before {
	content: "\e009";
}

.icon-cup:before {
	content: "\e044";
}

.icon-calendar:before {
	content: "\e075";
}

.icon-envelope:before {
	content: "\e086";
}

// end of Simple Line Font CSS
