// Footer styling

footer {
    background-color: $blue-sapphire;
    color: white;
    width: 100%;
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    a {
        color: white;
        text-decoration: underline;
    }
    i {
        font-size: $bodySize;
    }
}