header {
    height: 100vh;
    background-color: $blue-sapphire;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    i {
        margin-top: 150px;
    }
}