header {
    height: 100vh;
    background-color: $blue-sapphire;
    .wrapper    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logoContainer {
        display: flex;
        width: max-content;
        justify-content: flex-start;
    }
    .logoCircle {
        border: 3px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 65px;

        .logo {
            font-family: "Montserrat",
            sans-serif;
            font-weight: $bold;
        }
    }
    .headingContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .downArrowContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        .downArrow {
            padding: 20px;
            color: white;
    
            &:visited {
                color: white;
            }
        }
        i {
            @include fontSize(35);
        }
    }
    .headerNav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileNavButton {
        padding: 20px;
        font-size: $iconSize;
        cursor: pointer;
    }
}