// Main styling

// About section
.about {
    background-color: white;
    color: black;
    img {
        flex-basis: 100%;
        border-radius: 50%;
    }
}
// Skills section
.skills {
    background-color: $grey;
    i,
    svg {
        color: $blue-sapphire;
    }
}
// Projects section
.projects {
    background-color: $blue-jeans;
    color: black;
    a,
    i {
        color: black;
    }
}
// Blog section
.blog {

}
// Profile section
.profile {
    background-color: $grey;
}

// Contact section
.contact {
    background-color: $mandarin;
}

.adobeIcon {
    max-width: 25px;
    height: auto;
}