// Main styling

// About section
.about {
    background-color: white;
    color: black;
    img {
        flex-basis: 100%;
        border-radius: 50%;
    }

    h3 {
        @include fontSize(17);
    }
    .linkContainer {
        display: flex;
        justify-content: center;
    }
}
.myProfileLink,
.readMore {
    margin-top: 50px;
    transition: 0.2s ease-in;
    border-bottom: 3px solid $blue-sapphire;

    &:hover,
    &:focus {
        font-weight: $bold;
        transform: scale(1.1)
    }
}

// Skills section
.skills {
    background-color: $grey;
    ul {
        color: $blue-sapphire;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        margin: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-basis: 42%;
    }
    h2, h4 {
        color: black;
    }
    .firebaseIcon,
    .adobeIcon {
        max-width: 40px;
        height: auto;
    }
}
// Projects section
.projects {
    background-color: $blue-jeans;
    color: black;
    a,
    i {
        color: black;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectListItem {
        margin: 25px 0;
    }
    .techListItem {
        flex-basis: 50%;
        margin-top: 10px;
    }
    .githubLink,
    .viewLiveLink {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue-jeans;
        margin-top: 25px;
        width: 200px;
        border-radius: 25px;
        padding: 0 10px;
        outline: 1px solid black;


        &:hover,
        &:focus {
            outline: 3px solid black;
            font-weight: $bold;
        }
    }
}
// Blog section
.blog {
    color: black;
    .subHeadingContainer h4 {
        padding-top: 16px;
    }
    .blogTitle {
        &:hover,
        &:focus {
            transform: none;
            text-decoration: underline;
        }
    }
    li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
// Profile section
.profile {
    color: black;
    background-color: $grey;
}

// Contact section
.contact {
    background-color: $blue-jeans;
}