// Media Queries

// Large screen portrait phones
@media (min-width: 360px) {
	// 360px header media queries
	h2 {
		font-size: calc($heading2Size * 1.132);
	}
	header h3,
	.about h3,
	.about p,
	.projects h3,
	.myProfileLink,
	.readMore {
		font-size: calc($heading3Size * 1.1);
		line-height: calc($roomyLineHeight * 1.1);
	}
	// 360px about section media queries
	.about {
		.imageContainer {
			width: 75%;
		}
	}
}

// Landscape phone to portrait tablet
@media (min-width: 428px) {
	// 428px header media queries
	header {
		h1 {
			font-size: calc($bourgonHeadingSize * 1.2);
			line-height: calc($bourgonHeadingHeight * 1.2);

			.firstName {
				font-size: calc($benHeadingSize * 1.2);
				line-height: calc($benHeadingHeight * 1.2);
			}
		}
		h3 {
			font-size: calc($heading3Size * 1.2);
		}
		.headingContainer {
			margin-bottom: 20rem;
		}
		.downArrowContainer {
			margin-top: 1rem;
		}
	}
	// 428px about section media queries
	.about {
		.imageContainer {
			width: 60%;
		}
	}
	// 428px projects media queries
	.projects {
		.techListItem {
			flex-basis: 24%;
		}
		h3 {
			font-size: calc($heading3Size * 1.47);
		}
		p {
			font-size: calc($bodySize * 1.25);
			line-height: calc($bodyHeight * 1.25);
		}
	}
	// 428px profile media queries
	.profile .profileListItem {
		min-height: 555px;
	}
}

// Portrait tablet to small desktops
@media (min-width: 768px) {
	// general 768px media queries

	h2 {
		font-size: calc($heading2Size * 1.5);
	}

	// 768px header media queris
	header {
		h1 {
			font-size: calc($bourgonHeadingSize * 1.4);
			line-height: calc($bourgonHeadingHeight * 1.4);

			.firstName {
				font-size: calc($benHeadingSize * 1.4);
				line-height: calc($benHeadingHeight * 1.4);
			}
		}

		h3 {
			font-size: calc($heading3Size * 1.4);
		}

		.mobileContainer {
			display: none;
		}
		.desktopNav {
			width: 100%;
			max-width: 100%;
			height: 125px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			a {
				padding: 25px 10px;
				transition: 0.2s;
				font-size: calc($heading3Size * 1.3);
				&:hover,
				&:focus {
					border-bottom: 3px solid white;
				}
				&:focus {
					outline: 3px solid white;
				}
			}
		}
		.navOpen {
			margin-bottom: 0;
		}
		.desktopLogoContainer a {
			&:hover,
			&:focus {
				outline: none;
				border: none;

				.logoCircle {
					transform: scale(1.1);
				}
			}
			&:focus-visible {
				.logoCircle {
					outline-offset: 0.5rem;
					outline: 3px solid white;
				}
			}
			.logoCircle {
				color: white;
				border: 3px solid white;
				font-size: calc($heading3Size * 1.3);
				transition: 200ms ease-out;
			}
		}
	}

	// 768px about section media queries
	.about {
		h3,
		p,
		.myProfileLink {
			font-size: calc($bodySize * 1.2);
		}
		h3 {
			margin-top: 0;
		}
		.flexContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		.contentContainer {
			flex-basis: 47%;
		}
		.imageContainer {
			flex-basis: 40%;
			padding-bottom: 150px;
		}
	}
  // 768px skills section media queries
  .skills {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
	// 768px projects section media queries
	.projects {
		.flexContainer {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			img {
				flex-basis: 49%;
				max-width: 49%;
			}
		}
		.projectContentContainer {
			flex-basis: 47%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.rowReverse {
			flex-direction: row-reverse;
		}
		.projectDescription {
			font-size: calc($bodySize * 1.3);
			line-height: 3.5rem;
			margin: 25px 0 15px 0;
		}
		.projectListItem {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			margin: 50px 0;
		}
		h3 {
			display: block;
			width: 100%;
			font-size: calc($heading3Size * 2);
		}
		.techListItem {
			flex-basis: 24%;
			margin-top: 10px;
		}
		.linksContainer {
			flex-direction: row;
			justify-content: space-evenly;
			margin-top: 10px;
			a {
				flex-basis: 30%;
			}
		}
	}
	// 768px profile section media queries
	.profile {
		a {
			@include fontSize(16);
		}
		.profileListItem {
			padding: 30px 30px;
			min-height: 512px;
		}
		p,
		.profileListItem li {
			font-size: ($bodySize * 1.2);
		}
		.linksContainer {
			width: 100%;
			flex-direction: row;
			justify-content: space-evenly;
		}

		.meetWithMe {
			margin-top: 25px;
		}
	}
	// 768px contact section media queries
	.contact {
		.phoneEmailInputs {
			flex-direction: row;
			justify-content: space-between;

			input {
				flex-basis: 49%;
			}
		}
	}
	// 768px footer section media queries
	footer ul {
		flex-direction: row;
		justify-content: space-between;
	}
}

// Laptop screens to desktop monitors
@media (min-width: 940px) {
	// base 940px media queries
	h2 {
		font-size: calc($heading2Size * 2);
		line-height: calc($heading2Size * 2);
	}
	.subHeadingContainer h4 {
		font-size: calc($heading4Size * 1.5);
		padding-top: 25px;
	}
	.wrapper {
		max-width: 1100px;
	}
	// 940px header media queries
	header {
		h1 {
			font-size: calc($bourgonHeadingSize * 1.8);
			line-height: calc($bourgonHeadingHeight * 1.8);

			.firstName {
				font-size: calc($benHeadingSize * 1.8);
				line-height: calc($benHeadingHeight * 1.8);
			}
		}
		h3 {
			font-size: calc($heading3Size * 1.8);
		}
		.logoCircle {
			height: 80px;
			width: 80px;
		}
		.downArrow i {
			font-size: calc($iconSize * 1.7);
		}
	}
	// 940px about section media queries
	.about {
		h3,
		p,
		.myProfileLink {
			font-size: calc($heading3Size * 1.4);
			line-height: calc($heading3Size * 2);
		}

		.imageContainer {
			justify-content: center;
			padding-bottom: 0;
		}
	}
	// 940px skills media queries
	.skills {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
		p {
			font-size: calc($bodySize * 1.2);
		}
		i {
			font-size: calc($iconSize * 1.2);
		}
	}
	// 940px projects media queries
	.projects {
		h3 {
			font-size: calc($heading3Size * 2.5);
		}
		.techListItem {
			i {
				font-size: calc($iconSize * 1.2);
			}
		}
		.projectDescription {
			font-size: calc($bodySize * 1.6);
			line-height: calc($bodySize * 2.6);
		}
	}
	// 940px profile section media queries
	.profile {
		.profileListItem {
			min-height: 607px;
		}
		.profileListItem p,
		.profileListItem li,
		.profileInstructions {
			font-size: calc($heading3Size * 1.4);
			line-height: calc($heading3Size * 2.1);
		}
	}
}
