// TYPOGRAPHY

html {
    font-size: 62.5%; // base font size of 10px;
}

// Universal font styling
body {
    font-family: $bodyFont, sans-serif;
    font-size: $bodySize;
    font-weight: $regular;
    line-height: $bodyHeight;
    color: white;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: $heading2Size;
    @include boxReset;
    margin-bottom: 50px;
}

h4 {
    @include boxReset;
    font-family: $subHeadingFont, serif;
    font-size: $heading4Size;
    font-weight: $regular;
    text-transform: lowercase;
    text-align: center;
}

// header typography
header {
    color: white;

    h1 {
        text-align: center;
    
        .firstName {
            display: block;
            font-size: $benHeadingSize;
            line-height: $benHeadingHeight;
        }
    
        font-family: $headingFont,
        sans-serif;
        font-size: $bourgonHeadingSize;
        display: block;
        text-transform: uppercase;
        font-weight: $bold;
        line-height: $bourgonHeadingHeight;
        @include boxReset;
    }
    
    h3 {
        font-family: $headingFont, sans-serif;
        font-weight: $regular;
        font-size: $heading3Size;
        display: block;
        @include boxReset;
    }
    
    p {
        font-family: $bodyFont,
            sans-serif;
        font-weight: $regular;
        font-size: $bodySize;
        display: block;
        @include boxReset;
        margin-top: 100px;
    }
    a, button {
        color: white;
    }
}

.about {
    h3,
    p {
        @include fontSize(17);
        line-height: $roomyLineHeight;
    }
    a {
        color: $blue-sapphire;
        font-weight: $semiBold;
        text-decoration: underline;
        padding: 2px;
    }
    .myProfileLink {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
}

.skills {
    p {
        @include fontSize(14);
        text-align: center;
        line-height: $roomyLineHeight;
    }
}

.projects {
    h3 {
        @include fontSize(18);
        text-align: center;
        margin: 50px 0 25px 0;
    }
    p {
        @include fontSize(16);
        line-height: $roomyLineHeight;
    }
    .techListItem p {
        @include fontSize(14);
    }
    .githubLink,
    .viewLiveLink {
        font-weight: $semiBold;
        text-transform: uppercase;
        line-height: $bodyHeight;
    }
}