// VARIABLES

// Colour variables
$blue-sapphire: #135c71;
$purple-plum: #a755c2;
$blue-jeans: #63adf2;
$mandarin: #ef8354;
$green-sheen: #83bca9;

// Font variables
$headingFont: "Montserrat";
$bodyFont: "Montserrat";
$subHeadingFont: "Playfair Display";
$lineIcons: "Simple Line Icons";

// Font weight variables
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// Font size variables
$benHeadingSize: 3.5rem;
$bourgonHeadingSize: 5.2rem;
$heading2Size: 2.5rem;
$bodySize: 2.0rem;

// Line height variables
$benHeadingHeight: 3.6rem;
$bourgonHeadingHeight: 5.3rem;
$bodyHeight: auto;



