// VARIABLES

// Colour variables
$blue-sapphire: #135c71;
$purple-plum: #a755c2;
$blue-jeans: #63adf2;
$mandarin: #ef8354;
$green-sheen: #83bca9;

// Font variables
$headingFont: "Montserrat";
$bodyFont: "Montserrat";
$subHeadingFont: "Playfair Display";

// Font weight variables
$bold: 700;
$semiBold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// Font size variables
$benHeadingSize: 5.5rem;
$bourgonHeadingSize: 8.2rem;
$heading2Size: 2.5rem;
$bodySize: 1.6rem;

// Line height variables
$benHeadingHeight: 5.6rem;
$bourgonHeadingSize: 8.3rem;

