---
/* components/ProfileSection/Profile.astro */
import ProfileNav from "./ProfileNav.astro";
---
<section class="profile | section | bg-neutral-100 text-neutral-900" id="profile">
  <ProfileNav />
</section>
<style lang="scss">
  @use "../../sass/abstracts" as *;

  .profile {
	transition: 0.3s ease-out;

	.profileList {
		width: 100%;
	}

	.profile-list-item {
		background-color: white;
		padding: 20px 20px;
		min-height: 611px;
		width: 100%;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      ul {
        list-style-type: disc;
        list-style-position: inside;
        display: block;
      }

      li {
        margin: 20px 0;
        text-align: left;
      }
	}
	.item-heading-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition-delay: 500ms;

		i {
			margin-right: 5px;
			margin-bottom: 20px;
		}
	}
	.links-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
  // Profile radio buttons
  .profile-form {

    label {
      transition: 0.2s;
      padding: 15px 20px;
    }

    fieldset {
      display: flex;
      justify-content: space-between;
      border: none;
      padding: 0;
      margin: 15px 0;
    }

    .profile-form-icon {
      &:hover,
      &:focus {
        transform: scale(1.4);
      }
      &:focus-visible {
        outline: 3px solid $blue-sapphire;
        outline-offset: -1rem;
      }
    }
  }
  /* 428px profile media queries */
  @media screen and (min-width: 428px) {
    .profile .profile-list-item {
      min-height: 555px;
    }
  }
  /* 768px profile section media queries */
  @media screen and (min-width: 768px) {
  .profile {
    a {
      @include font-size(16);
    }
    .profile-list-item {
      padding: 30px 30px;
      min-height: 512px;
    }
    .links-container {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .meet-with-me {
      margin-top: 25px;
    }
  }
  };
  /* 940px profile section media queries */
  @media screen and (max-width: 940px) {
    .profile {
      .profile-list-item {
        min-height: 607px;
      }
    }
  }
</style>
