$colours: (
    primary: (
        50: #ecfeff,
        100: #cefbff,
        200: #a4f5fd,
        300: #65ebfb,
        400: #20d8f0,
        500: #04bbd6,
        600: #0695b4,
        700: #0c7792,
        800: #135c71,
        900: #154f64,
        950: #073445,
    ),
    secondary: (
        50: #fcf7fc,
        100: #f8eef9,
        200: #f1dbf3,
        300: #e7bfe8,
        400: #dda0dd,
        500: #c66fc5,
        600: #a950a7,
        700: #8c3f89,
        800: #733570,
        900: #5f305c,
        950: #3c1639,
    ),
    neutral: (
        0: #fff,
        50: #f9fafb,
        100: #f3f4f6,
        200: #e5e7eb,
        300: #d1d5db,
        400: #9ca3af,
        500: #6b7280,
        600: #4b5563,
        700: #374151,
        800: #1f2937,
        900: #111827,
    ),
);
