$colours: (
  primary: (
    100: #a6e4fc,
    200: #83c0d7,
    300: #609db4,
    400: #3c7c92,
    500: #135c71,
  ),
  secondary: (
    100: #DBCAEF,
    200: #D9BFEB,
    300: #D9B5E7,
    400: #DAAAE2,
    500: #DDA0DD,
    600: #B582BB,
    700: #8E6598,
    800: #674A74,
    900: #41304E
  ),
  neutral: (
    000: #fff,
    50: #f9fafb,
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
  ),
);
