$colours: (
    primary: (
        100: #a6e4fc,
        200: #83c0d7,
        300: #609db4,
        400: #3c7c92,
        500: #135c71,
    ),
    secondary: (
        100: #dbcaef,
        200: #d9bfeb,
        300: #d9b5e7,
        400: #daaae2,
        500: #dda0dd,
        600: #b582bb,
        700: #8e6598,
        800: #674a74,
        900: #41304e,
    ),
    neutral: (
        000: #fff,
        50: #f9fafb,
        100: #f3f4f6,
        200: #e5e7eb,
        300: #d1d5db,
        400: #9ca3af,
        500: #6b7280,
        600: #4b5563,
        700: #374151,
        800: #1f2937,
        900: #111827,
    ),
);
