.round {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.round-top {
    border-radius: 100vw 100vw 0 0;
}

.round-bottom {
    border-radius: 0 0 100vw 100vw;
}

.rounded-none {
    border-radius: 0;
}

.rounded-sm {
    border-radius: 0.125rem;
} /* 2px */

.rounded {
    border-radius: 0.25rem;
} /* 4px */

.rounded-md {
    border-radius: 0.375rem;
} /* 6px */

.rounded-lg {
    border-radius: 0.5rem;
} /* 8px */

.rounded-xl {
    border-radius: 0.75rem;
} /* 12px */

.rounded-2xl {
    border-radius: 1rem;
} /* 16px */

.rounded-3xl {
    border-radius: 1.5rem;
} /* 24px */
