/* wrapper class */
@use "../abstracts/mixins" as *;

.wrapper {
  --content-max-width: 1160px;
  --padding-inline: 2rem;

  @include box-reset;

  width: min(var(--content-max-width), 100% - var(--padding-inline));
  max-width: var(--content-max-width);
  margin-inline: auto;
};
