---
// components/ui/navigation/NavListItem.astro

// Components
import { Icon } from "astro-icon/components";

// Types & Interfaces
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
export type navListItemProps = CollectionEntry<"navItems">;
interface Props extends HTMLAttributes<"li"> {
    entry: navListItemProps;
}
// Props
const { entry, ...attributes } = Astro.props;
if (!entry) throw new Error("No props provided for navListItem.");
if (!entry.data) throw new Error("No data provided for navListItem.");
const { href, content, icon } = entry.data;
---

<li class:list={["navigation-list-item", attributes.class]} {...attributes}>
    <a class="navigation-link" href={href}>
        <Icon name={icon} class="icon" size={25} />
        <span class="content">{content}</span>
    </a>
</li>
<style lang="scss">
    @use "../../../sass/abstracts/" as *;

    a {
        color: $neutral-50;
        display: grid;
        padding-block: 0.5rem;
        padding-inline: 1rem;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: 50vw;
    }

    .content {
        font-size: $fs-500;
        width: fit-content;
        text-transform: capitalize;
    }

    @include mq("small") {
        a {
            place-items: center start;
            grid-template-columns: 1fr 3fr;
            column-gap: 1rem;
            grid-template-rows: 1fr;
        }
    }
</style>
