---
/* components/ContactSection/Contact.astro */
import SectionHeading from "../ui/SectionHeading.astro";
import { Icon } from "astro-icon/components";
---

<section class="contact | section" id="contact">
    <div class="wrapper">
        <SectionHeading preamble={"get in touch"} heading={"contact"} colour={"text-primary-0"} />
        <div class="flex-container">
            <ul>
                <li>
                    <a
                        href="https://github.com/benbourgon"
                        target="_blank"
                        rel="noopener"
                        aria-label="My GitHub Profile"
                    >
                        <Icon name="lucide:github" size={48} />
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.linkedin.com/in/benbourgon/"
                        target="_blank"
                        rel="noopener"
                        aria-label="My LinkedIn Profile"
                    >
                        <Icon name="lucide:linkedin" size={48} />
                    </a>
                </li>
                <li>
                    <a href="mailto:benjaminbourgon@gmail.com" aria-label="Send me an email">
                        <Icon name="lucide:mail" size={48} />
                    </a>
                </li>
                <li>
                    <a
                        href="https://calendly.com/benbourgon"
                        target="_blank"
                        rel="noopener"
                        aria-label="Schedule a meeting"
                    >
                        <Icon name="lucide:calendar-plus" size={48} />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--.wrapper ends-->
</section>
<!--contact section ends-->
<style lang="scss">
    @use "../../sass/abstracts" as *;

    .contact {
        color: $primary-50;

        a {
            color: $primary-50;
            margin: 15px 0;
            height: 50px;
            display: flex;
            align-items: center;
        }

        p {
            text-transform: uppercase;
        }

        .section-heading-container h4 {
            border-left: 1px solid $white;
        }

        input,
        textarea {
            color: $white;

            &::placeholder {
                color: $white;
            }

            &:focus,
            &:hover {
                font-weight: $semi-bold;

                &::placeholder {
                    font-weight: $semi-bold;
                }
            }
        }
        a:focus-visible {
            outline: 3px solid white;
        }
        .flex-container {
            max-width: 100%;
            clip-path: border-box;
            display: flex;
            justify-content: center;
        }
        ul {
            display: flex;
            width: 250px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li {
                display: flex;
                justify-content: center;
                width: 20%;
                max-width: 20%;
            }
            a {
                max-width: 100%;
                padding: 0 5px;
                z-index: 10;
            }
            i {
                display: block;
                max-width: 100%;
            }
        }
    }
    /* 768px Contact section media queries */
    @include mq("medium") {
        .phone-email-inputs {
            flex-direction: row;
            justify-content: space-between;

            input {
                flex-basis: 49%;
            }
        }
    }
</style>
