// Import Partials

@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/typography";
@import "./partials/baseStyles";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/mainStyles"