---
/* components/Header/Header.astro */
import Navigation from "./Navigation.astro";
---
<header class="bg-primary-500 text-neutral-000">
  <div class="wrapper">
    <Navigation />
  </div> <!--header .wrapper end-->
</header>
<style lang="scss">
  @use "../../sass/abstracts/" as *;
</style>
