---
import type { CollectionEntry } from "astro:content"
type Props = CollectionEntry<"navItems">;
const props = Astro.props;
if (!props) throw new Error("No props provided for navListItem.");
if (!props.data) throw new Error("No data provided for navListItem.");
const { href, content } = props.data;
---

<li>
  <a class="top-nav-link capitalize heading-size-md" href={href}>{content}</a>
</li>
<style lang="scss">
  @use "../../sass/abstracts/" as *;
  a {
    &:is(:hover, :focus-visible) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
    }
    &:is(:visited) {
      color: $white;
    }
  }
</style>
