---
import "../sass/main.scss";
import BaseHead from "@components/baseHead/BaseHead.astro"
import Header from "@components/header/Header.astro"
import Footer from "@components/footer/Footer.astro"
const { title } = Astro.props;
import "@fontsource-variable/montserrat";
import "@fontsource-variable/playfair-display"
---
<html lang="en">
  <BaseHead title={title} />
  <body>
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
