---
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header/Header.astro"
import Hero from "@components/Hero/Hero.astro"
import Footer from "@components/Footer/Footer.astro"
const { title } = Astro.props;
const HeroData = {
  firstName: "ben",
  lastName: "bourgon",
  jobTitle: "web developer",
};
import "@fontsource-variable/montserrat";
import "@fontsource-variable/playfair-display"
---
<html lang="en">
  <BaseHead title={title} />
  <body>
    <Header />
    <Hero firstName={HeroData.firstName} lastName={HeroData.lastName} jobTitle={HeroData.jobTitle} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
