html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Simple-Line-Icons";
  src: url("../assets/fonts/Simple-Line-Icons.eot");
  src: url("../assets/fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Simple-Line-Icons.woff") format("woff"), url("../assets/fonts/Simple-Line-Icons.ttf") format("truetype"), url("../assets/fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-user,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-magnet,
.icon-energy,
.icon-emoticon-smile,
.icon-disc,
.icon-crop,
.icon-credit-card,
.icon-chemistry,
.icon-speedometer,
.icon-social-twitter,
.icon-screen-tablet,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglasses,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-map,
.icon-layers,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-frame,
.icon-folder-alt,
.icon-film,
.icon-feed,
.icon-earphones-alt,
.icon-earphones,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-directions,
.icon-direction,
.icon-diamond,
.icon-cup,
.icon-compass,
.icon-call-out,
.icon-call-in,
.icon-call-end,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-music-tone-alt,
.icon-music-tone,
.icon-microphone,
.icon-loop,
.icon-logout,
.icon-login,
.icon-list,
.icon-like,
.icon-home,
.icon-grid,
.icon-graph,
.icon-equalizer,
.icon-dislike,
.icon-cursor,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-calendar,
.icon-bulb,
.icon-bar-chart,
.icon-arrow-up,
.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-down,
.icon-ban,
.icon-bubble,
.icon-camcorder,
.icon-camera,
.icon-check,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-doc,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-folder,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-plus,
.icon-pointer,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-target,
.icon-volume-1,
.icon-volume-2 {
  font-family: "Simple-Line-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-user-female:before {
  content: "\e000";
}

.icon-user-follow:before {
  content: "\e002";
}

.icon-user-following:before {
  content: "\e003";
}

.icon-user-unfollow:before {
  content: "\e004";
}

.icon-trophy:before {
  content: "\e006";
}

.icon-screen-smartphone:before {
  content: "\e010";
}

.icon-screen-desktop:before {
  content: "\e011";
}

.icon-plane:before {
  content: "\e012";
}

.icon-notebook:before {
  content: "\e013";
}

.icon-moustache:before {
  content: "\e014";
}

.icon-mouse:before {
  content: "\e015";
}

.icon-magnet:before {
  content: "\e016";
}

.icon-energy:before {
  content: "\e020";
}

.icon-emoticon-smile:before {
  content: "\e021";
}

.icon-disc:before {
  content: "\e022";
}

.icon-cursor-move:before {
  content: "\e023";
}

.icon-crop:before {
  content: "\e024";
}

.icon-credit-card:before {
  content: "\e025";
}

.icon-chemistry:before {
  content: "\e026";
}

.icon-user:before {
  content: "\e005";
}

.icon-speedometer:before {
  content: "\e007";
}

.icon-social-youtube:before {
  content: "\e008";
}

.icon-social-twitter:before {
  content: "\e009";
}

.icon-social-tumblr:before {
  content: "\e00a";
}

.icon-social-facebook:before {
  content: "\e00b";
}

.icon-social-dropbox:before {
  content: "\e00c";
}

.icon-social-dribbble:before {
  content: "\e00d";
}

.icon-shield:before {
  content: "\e00e";
}

.icon-screen-tablet:before {
  content: "\e00f";
}

.icon-magic-wand:before {
  content: "\e017";
}

.icon-hourglass:before {
  content: "\e018";
}

.icon-graduation:before {
  content: "\e019";
}

.icon-ghost:before {
  content: "\e01a";
}

.icon-game-controller:before {
  content: "\e01b";
}

.icon-fire:before {
  content: "\e01c";
}

.icon-eyeglasses:before {
  content: "\e01d";
}

.icon-envelope-open:before {
  content: "\e01e";
}

.icon-envelope-letter:before {
  content: "\e01f";
}

.icon-bell:before {
  content: "\e027";
}

.icon-badge:before {
  content: "\e028";
}

.icon-anchor:before {
  content: "\e029";
}

.icon-wallet:before {
  content: "\e02a";
}

.icon-vector:before {
  content: "\e02b";
}

.icon-speech:before {
  content: "\e02c";
}

.icon-puzzle:before {
  content: "\e02d";
}

.icon-printer:before {
  content: "\e02e";
}

.icon-present:before {
  content: "\e02f";
}

.icon-playlist:before {
  content: "\e030";
}

.icon-pin:before {
  content: "\e031";
}

.icon-picture:before {
  content: "\e032";
}

.icon-map:before {
  content: "\e033";
}

.icon-layers:before {
  content: "\e034";
}

.icon-handbag:before {
  content: "\e035";
}

.icon-globe-alt:before {
  content: "\e036";
}

.icon-globe:before {
  content: "\e037";
}

.icon-frame:before {
  content: "\e038";
}

.icon-folder-alt:before {
  content: "\e039";
}

.icon-film:before {
  content: "\e03a";
}

.icon-feed:before {
  content: "\e03b";
}

.icon-earphones-alt:before {
  content: "\e03c";
}

.icon-earphones:before {
  content: "\e03d";
}

.icon-drop:before {
  content: "\e03e";
}

.icon-drawer:before {
  content: "\e03f";
}

.icon-docs:before {
  content: "\e040";
}

.icon-directions:before {
  content: "\e041";
}

.icon-direction:before {
  content: "\e042";
}

.icon-diamond:before {
  content: "\e043";
}

.icon-cup:before {
  content: "\e044";
}

.icon-compass:before {
  content: "\e045";
}

.icon-call-out:before {
  content: "\e046";
}

.icon-call-in:before {
  content: "\e047";
}

.icon-call-end:before {
  content: "\e048";
}

.icon-calculator:before {
  content: "\e049";
}

.icon-bubbles:before {
  content: "\e04a";
}

.icon-briefcase:before {
  content: "\e04b";
}

.icon-book-open:before {
  content: "\e04c";
}

.icon-basket-loaded:before {
  content: "\e04d";
}

.icon-basket:before {
  content: "\e04e";
}

.icon-bag:before {
  content: "\e04f";
}

.icon-action-undo:before {
  content: "\e050";
}

.icon-action-redo:before {
  content: "\e051";
}

.icon-wrench:before {
  content: "\e052";
}

.icon-umbrella:before {
  content: "\e053";
}

.icon-trash:before {
  content: "\e054";
}

.icon-tag:before {
  content: "\e055";
}

.icon-support:before {
  content: "\e056";
}

.icon-size-fullscreen:before {
  content: "\e057";
}

.icon-size-actual:before {
  content: "\e058";
}

.icon-shuffle:before {
  content: "\e059";
}

.icon-share-alt:before {
  content: "\e05a";
}

.icon-share:before {
  content: "\e05b";
}

.icon-rocket:before {
  content: "\e05c";
}

.icon-question:before {
  content: "\e05d";
}

.icon-pie-chart:before {
  content: "\e05e";
}

.icon-pencil:before {
  content: "\e05f";
}

.icon-note:before {
  content: "\e060";
}

.icon-music-tone-alt:before {
  content: "\e061";
}

.icon-music-tone:before {
  content: "\e062";
}

.icon-microphone:before {
  content: "\e063";
}

.icon-loop:before {
  content: "\e064";
}

.icon-logout:before {
  content: "\e065";
}

.icon-login:before {
  content: "\e066";
}

.icon-list:before {
  content: "\e067";
}

.icon-like:before {
  content: "\e068";
}

.icon-home:before {
  content: "\e069";
}

.icon-grid:before {
  content: "\e06a";
}

.icon-graph:before {
  content: "\e06b";
}

.icon-equalizer:before {
  content: "\e06c";
}

.icon-dislike:before {
  content: "\e06d";
}

.icon-cursor:before {
  content: "\e06e";
}

.icon-control-start:before {
  content: "\e06f";
}

.icon-control-rewind:before {
  content: "\e070";
}

.icon-control-play:before {
  content: "\e071";
}

.icon-control-pause:before {
  content: "\e072";
}

.icon-control-forward:before {
  content: "\e073";
}

.icon-control-end:before {
  content: "\e074";
}

.icon-calendar:before {
  content: "\e075";
}

.icon-bulb:before {
  content: "\e076";
}

.icon-bar-chart:before {
  content: "\e077";
}

.icon-arrow-up:before {
  content: "\e078";
}

.icon-arrow-right:before {
  content: "\e079";
}

.icon-arrow-left:before {
  content: "\e07a";
}

.icon-arrow-down:before {
  content: "\e07b";
}

.icon-ban:before {
  content: "\e07c";
}

.icon-bubble:before {
  content: "\e07d";
}

.icon-camcorder:before {
  content: "\e07e";
}

.icon-camera:before {
  content: "\e07f";
}

.icon-check:before {
  content: "\e080";
}

.icon-clock:before {
  content: "\e081";
}

.icon-close:before {
  content: "\e082";
}

.icon-cloud-download:before {
  content: "\e083";
}

.icon-cloud-upload:before {
  content: "\e084";
}

.icon-doc:before {
  content: "\e085";
}

.icon-envelope:before {
  content: "\e086";
}

.icon-eye:before {
  content: "\e087";
}

.icon-flag:before {
  content: "\e088";
}

.icon-folder:before {
  content: "\e089";
}

.icon-heart:before {
  content: "\e08a";
}

.icon-info:before {
  content: "\e08b";
}

.icon-key:before {
  content: "\e08c";
}

.icon-link:before {
  content: "\e08d";
}

.icon-lock:before {
  content: "\e08e";
}

.icon-lock-open:before {
  content: "\e08f";
}

.icon-magnifier:before {
  content: "\e090";
}

.icon-magnifier-add:before {
  content: "\e091";
}

.icon-magnifier-remove:before {
  content: "\e092";
}

.icon-paper-clip:before {
  content: "\e093";
}

.icon-paper-plane:before {
  content: "\e094";
}

.icon-plus:before {
  content: "\e095";
}

.icon-pointer:before {
  content: "\e096";
}

.icon-power:before {
  content: "\e097";
}

.icon-refresh:before {
  content: "\e098";
}

.icon-reload:before {
  content: "\e099";
}

.icon-settings:before {
  content: "\e09a";
}

.icon-star:before {
  content: "\e09b";
}

.icon-symbol-female:before {
  content: "\e09c";
}

.icon-symbol-male:before {
  content: "\e09d";
}

.icon-target:before {
  content: "\e09e";
}

.icon-volume-1:before {
  content: "\e09f";
}

.icon-volume-2:before {
  content: "\e0a0";
}

.icon-volume-off:before {
  content: "\e0a1";
}

.icon-users:before {
  content: "\e001";
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: auto;
  color: white;
}

p {
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.3rem;
  margin: 0;
  padding: 0;
  margin: 0 auto 50px auto;
  width: 100%;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
}

.myProfileLink,
.readMore {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: #135c71;
}

header {
  color: white;
}
header .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
header h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 5.1rem;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 5.3rem;
  margin: 0;
  padding: 0;
}
header h1 .firstName {
  display: block;
  font-size: 3.5rem;
  line-height: 3.6rem;
}
header h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  display: block;
  margin: 0;
  padding: 0;
}
header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}
header a, header button {
  color: white;
}

.about h3,
.about p {
  font-size: 1.7rem;
  line-height: 2.8rem;
}
.about a {
  color: #135c71;
  font-weight: 600;
  padding: 2px;
}

.skills p {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.8rem;
}

.projects h3 {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  margin: 50px 0 40px 0;
}
.projects p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.projects .techListItem p {
  font-size: 14px;
  font-size: 1.4rem;
}
.projects .githubLink,
.projects .viewLiveLink {
  font-weight: 600;
  text-transform: uppercase;
  line-height: auto;
}

.blog .writing {
  display: block;
}
.blog h3 {
  text-align: left;
  font-size: 1.7rem;
  width: 100%;
}
.blog a:visited {
  color: #a755c2;
}
.blog p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.blog .readMore {
  text-align: left;
  font-weight: 600;
}

.profile h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}
.profile .profileInstructions {
  padding: 0 15px;
  max-width: 80rem;
}
.profile .profileListItem i {
  font-size: 5rem;
  color: #a755c2;
}
.profile .profileLink {
  font-weight: 600;
  text-transform: uppercase;
  line-height: auto;
  padding: 10px 0;
  margin: 25px 0;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile .profileLink:hover, .profile .profileLink:focus {
  text-decoration: none;
}
.profile .coffeeLink {
  margin-top: 50px;
  width: 200px;
  display: block;
}
.profile .messageMe {
  color: #63adf2;
  border: 1px solid #63adf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile .messageMe:focus, .profile .messageMe:hover {
  font-weight: 700;
  border: 2px solid #63adf2;
}
.profile .requestResume,
.profile .meetWithMe {
  text-align: center;
  background-color: #a755c2;
  background-size: cover;
  color: white;
}
.profile .requestResume:focus, .profile .requestResume:hover,
.profile .meetWithMe:focus,
.profile .meetWithMe:hover {
  height: 50px;
  font-weight: 700;
}
.profile .meetWithMe {
  padding-top: 15px;
}

.profileForm label {
  line-height: 3.6rem;
  -webkit-transition: none;
  transition: none;
}
.profileForm input[type=radio]:checked + label {
  color: #a755c2;
}

.contact {
  color: white;
}
.contact .subHeadingContainer h4 {
  border-left: 1px solid white;
}
.contact form {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.contact form input,
.contact form textarea {
  font-family: "Montserrat", sans-serif;
}
.contact input,
.contact textarea {
  color: white;
}
.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: white;
}
.contact input:focus, .contact input:hover,
.contact textarea:focus,
.contact textarea:hover {
  font-weight: 600;
}
.contact input:focus::-webkit-input-placeholder, .contact input:hover::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  font-weight: 600;
}
.contact input:focus::-moz-placeholder, .contact input:hover::-moz-placeholder, .contact textarea:focus::-moz-placeholder, .contact textarea:hover::-moz-placeholder {
  font-weight: 600;
}
.contact input:focus:-ms-input-placeholder, .contact input:hover:-ms-input-placeholder, .contact textarea:focus:-ms-input-placeholder, .contact textarea:hover:-ms-input-placeholder {
  font-weight: 600;
}
.contact input:focus::-ms-input-placeholder, .contact input:hover::-ms-input-placeholder, .contact textarea:focus::-ms-input-placeholder, .contact textarea:hover::-ms-input-placeholder {
  font-weight: 600;
}
.contact input:focus::placeholder, .contact input:hover::placeholder,
.contact textarea:focus::placeholder,
.contact textarea:hover::placeholder {
  font-weight: 600;
}
.contact .sendButton {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.contact .sendButton:focus, .contact .sendButton:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contact a {
  color: white;
  margin: 15px 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact p {
  text-transform: uppercase;
}
.contact .contactPhoneNumber:hover, .contact .contactPhoneNumber:focus,
.contact .contactEmailAddress:hover,
.contact .contactEmailAddress:focus {
  -webkit-transform: none;
          transform: none;
  font-weight: 600;
}
.contact .contactPhoneNumber {
  font-size: 3.5rem;
  margin-top: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  margin: 0;
  padding: 0;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

a {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: none;
}
a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
a:focus {
  border: 5px solid #63adf2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

i {
  font-size: 3rem;
}

section {
  margin: 0;
  padding: 0;
  padding: 10rem 0;
}
section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

button {
  background-color: transparent;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
button:hover, button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subHeadingContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subHeadingContainer h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin-left: 40%;
  padding-left: 10px;
  padding-top: 34px;
  text-align: left;
  border-left: 1px solid black;
}

.hidden {
  display: none;
}

header {
  min-height: 320px;
  max-width: 100%;
  background-color: #135c71;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .desktopNav {
  display: none;
  z-index: 20;
  width: 100%;
}
header .headerNav {
  max-width: 100%;
  height: 60%;
  margin-top: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
header .mobileContainer {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .mobileFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100px;
}
header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  height: 80px;
  width: 80px;
}
header .logoContainer:focus, header .logoContainer:hover {
  -webkit-transform: none;
          transform: none;
}
header .logoCircle {
  border: 3px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 65px;
}
header .mobileNavButton {
  padding: 1.5rem 2rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 20;
}
header .mobileNavButton p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
}
header .mobileNavList {
  position: fixed;
  top: -1px;
  left: -10000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #135c71;
}
header .mobileNavList li {
  font-size: 1.92rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  z-index: 30;
  height: 50px;
  padding-left: 10px;
}
header .mobileNavList a {
  color: #135c71;
  padding: 5px 5px;
  width: 100px;
}
header .mobileNavList a:hover, header .mobileNavList a:focus {
  border-bottom: 3px solid #135c71;
  -webkit-transform: none;
          transform: none;
}
header .mobileNavList a:active {
  border: none;
  font-weight: 700;
}
header .navOpen {
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  margin-bottom: 20rem;
  display: block;
}
header .navOpen .mobileContainer {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: white;
  max-width: 100%;
}
header .navOpen button {
  color: #135c71;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
header .navOpen .mobileNavList {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  margin-top: 100px;
}
header .navOpen .navButtonText {
  display: none;
}
header .navOpen .logoCircle {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  color: #135c71;
  border: 3px solid #135c71;
}
header .headingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem auto;
}
header .downArrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 6rem auto;
}
header .downArrowContainer .downArrow {
  padding: 20px;
  color: white;
}
header .downArrowContainer .downArrow:visited {
  color: white;
}
header .downArrowContainer i {
  font-size: 35px;
  font-size: 3.5rem;
}

footer {
  background-color: #135c71;
  color: white;
  width: 100%;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer i {
  font-size: 1.6rem;
}

.about {
  background-color: white;
  color: black;
}
.about img {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 50%;
}
.about h3 {
  font-size: 17px;
  font-size: 1.7rem;
}
.about .aboutLinkContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .imageContainer {
  width: 85%;
}

.myProfileLink,
.readMore {
  margin-top: 50px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: underline;
  padding: 10px 2px 5px 2px;
}
.myProfileLink:hover, .myProfileLink:focus,
.readMore:hover,
.readMore:focus {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  background-color: #F7F7F7;
}
.skills ul {
  color: #135c71;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}
.skills h2, .skills h4 {
  color: black;
}
.skills .firebaseIcon,
.skills .adobeIcon {
  max-width: 40px;
  height: auto;
}

.projects {
  background-color: #63adf2;
  color: black;
}
.projects a,
.projects i {
  color: black;
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.projects li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .taglinesProject {
  background-color: #ef8354;
}
.projects .taglinesProject a {
  background-color: #ef8354;
}
.projects .underTheSeaProject {
  background-color: #135c71;
  color: white;
}
.projects .underTheSeaProject h3, .projects .underTheSeaProject i, .projects .underTheSeaProject a {
  color: white;
}
.projects .underTheSeaProject a {
  background-color: #135c71;
}
.projects .underTheSeaProject .githubLink,
.projects .underTheSeaProject .viewLiveLink {
  border: 1px solid white;
}
.projects .underTheSeaProject .githubLink:hover, .projects .underTheSeaProject .githubLink:focus,
.projects .underTheSeaProject .viewLiveLink:hover,
.projects .underTheSeaProject .viewLiveLink:focus {
  border: 3px solid white;
}
.projects .goodGamesProject {
  background-color: #83bca9;
}
.projects .goodGamesProject a {
  background-color: #83bca9;
}
.projects .gameBoyConfigProject {
  background-color: #a755c2;
}
.projects .gameBoyConfigProject a {
  background-color: #a755c2;
}
.projects .projectTitle {
  justify-self: center;
  width: 100%;
  border: none;
}
.projects .projectTitle h3 {
  margin: 10px 0;
  width: 100%;
}
.projects .projectTitle:hover, .projects .projectTitle:focus {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: underline;
}
.projects .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.projects .projectListItem {
  margin: 25px 0;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projects .projectDescription {
  width: 100%;
  margin-top: 10px;
}
.projects .projectDescription a {
  text-decoration: underline;
}
.projects .techListItem {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  margin-top: 10px;
  text-align: center;
  border: none;
}
.projects .linksContainer {
  margin-top: 5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .githubLink,
.projects .viewLiveLink {
  text-align: center;
  background-color: #63adf2;
  margin-top: 25px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  padding: 15px 10px;
  border: 1px solid black;
}
.projects .githubLink:hover, .projects .githubLink:focus,
.projects .viewLiveLink:hover,
.projects .viewLiveLink:focus {
  border: 3px solid black;
  font-weight: 700;
}

.blog {
  color: black;
  background-color: white;
}
.blog .subHeadingContainer h4 {
  padding-top: 16px;
}
.blog .blogTitle:hover, .blog .blogTitle:focus {
  -webkit-transform: none;
          transform: none;
  text-decoration: underline;
}
.blog p {
  margin: 25px 0;
}
.blog article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .readMore {
  padding: 39px 2px 5px 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.blog .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  color: black;
  background-color: #F7F7F7;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.profile .profileListItem {
  background-color: white;
  padding: 30px 30px;
  min-height: 570px;
  max-width: 70rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile .profileListItem ul {
  list-style-type: disc;
  list-style-position: inside;
  display: block;
}
.profile .profileListItem li {
  margin: 20px 0;
  font-size: 1.6rem;
  text-align: left;
}
.profile .itemHeadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.profile .itemHeadingContainer i {
  margin-right: 5px;
  margin-bottom: 20px;
}
.profile .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}
.profileForm label {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 25px;
}
.profileForm .profileFormIcon:hover, .profileForm .profileFormIcon:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.contact {
  background-color: #135c71;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
.contact .wrapper {
  overflow: hidden;
}
.contact form,
.contact .phoneEmailInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
}
.contact input,
.contact textarea {
  padding: 10px 5px;
  margin: 10px 0;
  border: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 1px solid white;
  background-color: #135c71;
  width: 100%;
  max-width: 100%;
  height: 50px;
}
.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  opacity: 1;
}
.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  opacity: 1;
}
.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  opacity: 1;
}
.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
  opacity: 1;
}
.contact input::placeholder,
.contact textarea::placeholder {
  opacity: 1;
}
.contact input:focus, .contact input:hover,
.contact textarea:focus,
.contact textarea:hover {
  border-bottom: 3px solid white;
}
.contact textarea {
  height: 275px;
  max-width: 100%;
  border: 1px solid white;
}
.contact textarea:focus, .contact textarea:hover {
  border: 3px solid white;
}
.contact .yourMessageLabel {
  padding: 25px 5px 5px 2px;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90%;
  display: block;
}
.contact .sendButton {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 0;
  margin: 25px 0;
  cursor: pointer;
}
.contact nav {
  max-width: 100%;
  overflow: hidden;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 95%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  max-width: 20%;
}
.contact ul a {
  max-width: 100%;
  padding: 0 5px;
}
.contact ul i {
  display: block;
  max-width: 100%;
}

@media (min-width: 360px) {
  h2 {
    font-size: 5.9996rem;
  }

  header h3,
.about h3,
.about p,
.projects h3,
.myProfileLink,
.readMore {
    font-size: 1.87rem;
    line-height: 3.08rem;
  }

  .about .imageContainer {
    width: 75%;
  }
}
@media (min-width: 428px) {
  header h1 {
    font-size: 6.12rem;
    line-height: 6.36rem;
  }
  header h1 .firstName {
    font-size: 4.2rem;
    line-height: 4.32rem;
  }
  header h3 {
    font-size: 2.04rem;
  }
  header .headingContainer {
    margin-bottom: 25px;
  }

  .about .imageContainer {
    width: 60%;
  }

  .projects .techListItem {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
  .projects h3 {
    font-size: 2.499rem;
  }
  .projects p {
    font-size: 2rem;
    line-height: calc(auto * 1.25);
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 7.95rem;
  }

  header h1 {
    font-size: 7.14rem;
    line-height: 7.42rem;
  }
  header h1 .firstName {
    font-size: 4.9rem;
    line-height: 5.04rem;
  }
  header h3 {
    font-size: 2.38rem;
  }
  header .mobileContainer {
    display: none;
  }
  header .desktopNav {
    width: 100%;
    max-width: 100%;
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .desktopNav a {
    padding: 25px 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 2.21rem;
  }
  header .desktopNav a:hover, header .desktopNav a:focus {
    border-bottom: 3px solid white;
  }
  header .navOpen {
    margin-bottom: 0;
  }
  header .desktopLogoContainer a {
    width: 100%;
    height: 100%;
  }
  header .desktopLogoContainer a:hover, header .desktopLogoContainer a:focus {
    border: none;
  }
  header .desktopLogoContainer a .logoCircle {
    color: white;
    border: 3px solid white;
    font-size: 2.21rem;
  }

  .about h3,
.about p,
.about .myProfileLink {
    font-size: 1.92rem;
  }
  .about .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .contentContainer {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .about .imageContainer {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding-bottom: 150px;
  }

  .skills ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills li {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .skills .problemSolving {
    display: block;
  }

  .projects .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .flexContainer img {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    max-width: 49%;
  }
  .projects .projectContentContainer {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .rowReverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .projects .projectDescription {
    font-size: 2.08rem;
    line-height: 3.5rem;
    margin: 25px 0 15px 0;
  }
  .projects .projectListItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 0;
  }
  .projects h3 {
    display: block;
    width: 100%;
    font-size: 3.4rem;
  }
  .projects .techListItem {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    margin-top: 10px;
  }
  .projects .linksContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
  }
  .projects .linksContainer a {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }

  .blog h3 {
    font-size: 3.4rem;
  }
  .blog p {
    margin-top: 0;
    font-size: 2.4rem;
  }
  .blog img {
    max-width: 52%;
  }
  .blog .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog .flexContainer .contentContainer {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog .readMore {
    padding-top: 62px;
  }

  .profile p,
.profile .profileListItem li {
    font-size: 1.92rem;
  }
  .profile .linksContainer {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .contact .phoneEmailInputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .phoneEmailInputs input {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }

  footer .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (min-width: 940px) {
  h2 {
    font-size: 10.6rem;
    line-height: 10.6rem;
  }

  .subHeadingContainer h4 {
    font-size: 2.4rem;
    padding-top: 25px;
  }

  .wrapper {
    max-width: 1100px;
  }

  header h1 {
    font-size: 9.18rem;
    line-height: 9.54rem;
  }
  header h1 .firstName {
    font-size: 6.3rem;
    line-height: 6.48rem;
  }
  header h3 {
    font-size: 3.06rem;
  }
  header .logoCircle {
    height: 80px;
    width: 80px;
  }
  header .downArrow i {
    font-size: 5.1rem;
  }

  .about h3,
.about p,
.about .myProfileLink {
    font-size: 2.38rem;
    line-height: 3.4rem;
  }
  .about .imageContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .skills p {
    font-size: 1.92rem;
  }
  .skills i {
    font-size: 3.6rem;
  }

  .projects h3 {
    font-size: 4.25rem;
  }
  .projects .techListItem i {
    font-size: 3.6rem;
  }
  .projects .projectDescription {
    font-size: 2.56rem;
    line-height: 4.16rem;
  }

  .blog .subHeadingContainer h4 {
    height: 60px;
    padding-top: 7px;
  }
  .blog p,
.blog .readMore {
    font-size: 2.55rem;
    line-height: 3.4rem;
  }

  .profile .profileListItem p,
.profile .profileListItem li,
.profile .profileInstructions {
    font-size: 2.38rem;
    line-height: 3.57rem;
  }
}