html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Simple-Line-Icons";
  src: url("../assets/fonts/Simple-Line-Icons.eot");
  src: url("../assets/fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Simple-Line-Icons.woff") format("woff"), url("../assets/fonts/Simple-Line-Icons.ttf") format("truetype"), url("../assets/fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.icon-user,
.icon-energy,
.icon-social-twitter,
.icon-cup,
.icon-calendar,
.icon-envelope {
  font-family: "Simple-Line-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-display: swap;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-energy:before {
  content: "\e020";
}

.icon-user:before {
  content: "\e005";
}

.icon-social-twitter:before {
  content: "\e009";
}

.icon-cup:before {
  content: "\e044";
}

.icon-calendar:before {
  content: "\e075";
}

.icon-envelope:before {
  content: "\e086";
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: auto;
  font-display: swap;
  color: white;
}

p {
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5.3rem;
  margin: 0;
  padding: 0;
  margin: 0 auto 50px auto;
  width: 100%;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
}

.myProfileLink,
.readMore {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: #135c71;
}

header {
  color: white;
}
header .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
header h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 5.1rem;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 5.3rem;
  margin: 0;
  padding: 0;
}
header h1 .firstName {
  display: block;
  font-size: 3.5rem;
  line-height: 3.6rem;
}
header h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  display: block;
  margin: 0;
  padding: 0;
}
header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}
header a, header button {
  color: white;
}

.about h3,
.about p {
  font-size: 1.7rem;
  line-height: 2.8rem;
}
.about a {
  color: #135c71;
  font-weight: 600;
  padding: 2px;
}

.skills p {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.8rem;
}

.projects h3 {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  margin: 50px 0 40px 0;
}
.projects p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.projects .techListItem p {
  font-size: 14px;
  font-size: 1.4rem;
}
.projects .githubLink,
.projects .viewLiveLink {
  font-weight: 600;
  text-transform: uppercase;
  line-height: auto;
}

.blog .writing {
  display: block;
}
.blog h3 {
  text-align: left;
  font-size: 1.7rem;
  width: 100%;
}
.blog a:visited {
  color: #135c71;
}
.blog p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.blog .readMore {
  text-align: left;
  font-weight: 600;
}

.profile h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}
.profile .profileInstructions {
  padding: 0 15px;
}
.profile .profileListItem {
  font-size: 14px;
  font-size: 1.4rem;
}
.profile .profileListItem i {
  font-size: 5rem;
  color: #135c71;
}
.profile .profileLink {
  font-weight: 600;
  text-transform: uppercase;
  line-height: auto;
  padding: 10px 0;
  margin: 25px 0;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile .profileLink:hover, .profile .profileLink:focus {
  text-decoration: none;
}
.profile .coffeeLink {
  margin-top: 25px;
  width: 200px;
  display: block;
}
.profile .messageMe {
  color: black;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile .messageMe:focus, .profile .messageMe:hover {
  font-weight: 700;
  border: 2px solid black;
}
.profile .requestResume,
.profile .meetWithMe {
  text-align: center;
  background-color: #135c71;
  background-size: cover;
  color: white;
}
.profile .requestResume:focus, .profile .requestResume:hover,
.profile .meetWithMe:focus,
.profile .meetWithMe:hover {
  height: 50px;
  font-weight: 700;
}
.profile .meetWithMe {
  padding-top: 15px;
  margin-top: 0;
}

.profileForm label {
  line-height: 3.6rem;
  -webkit-transition: none;
  transition: none;
}
.profileForm input[type=radio]:checked + label {
  color: #135c71;
}

.contact {
  color: white;
}
.contact .subHeadingContainer h4 {
  border-left: 1px solid white;
}
.contact form {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.contact form input,
.contact form textarea {
  font-family: "Montserrat", sans-serif;
}
.contact input,
.contact textarea {
  color: white;
}
.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: white;
}
.contact input:focus, .contact input:hover,
.contact textarea:focus,
.contact textarea:hover {
  font-weight: 600;
}
.contact input:focus::-webkit-input-placeholder, .contact input:hover::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  font-weight: 600;
}
.contact input:focus::-moz-placeholder, .contact input:hover::-moz-placeholder, .contact textarea:focus::-moz-placeholder, .contact textarea:hover::-moz-placeholder {
  font-weight: 600;
}
.contact input:focus:-ms-input-placeholder, .contact input:hover:-ms-input-placeholder, .contact textarea:focus:-ms-input-placeholder, .contact textarea:hover:-ms-input-placeholder {
  font-weight: 600;
}
.contact input:focus::-ms-input-placeholder, .contact input:hover::-ms-input-placeholder, .contact textarea:focus::-ms-input-placeholder, .contact textarea:hover::-ms-input-placeholder {
  font-weight: 600;
}
.contact input:focus::placeholder, .contact input:hover::placeholder,
.contact textarea:focus::placeholder,
.contact textarea:hover::placeholder {
  font-weight: 600;
}
.contact .sendButton {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.contact .sendButton:focus, .contact .sendButton:hover {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contact a {
  color: white;
  margin: 15px 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact p {
  text-transform: uppercase;
}
.contact .contactPhoneNumber:hover, .contact .contactPhoneNumber:focus,
.contact .contactEmailAddress:hover,
.contact .contactEmailAddress:focus {
  -webkit-transform: none;
          transform: none;
  font-weight: 600;
}
.contact .contactPhoneNumber {
  font-size: 3.5rem;
  margin-top: 0;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  margin: 0;
  padding: 0;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

a {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: none;
}
a:hover, a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

i {
  font-size: 3rem;
}

section {
  margin: 0;
  padding: 0;
  padding: 10rem 0;
}
section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

button {
  background-color: transparent;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
button:hover, button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subHeadingContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subHeadingContainer h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin-left: 40%;
  padding-left: 10px;
  padding-top: 34px;
  text-align: left;
  border-left: 1px solid black;
}

.hidden {
  display: none;
}

header {
  min-height: 320px;
  max-width: 100%;
  background-color: #135c71;
}
header a:focus,
header button:focus {
  outline: 3px solid #eca38e;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: visible;
}
header .desktopNav {
  display: none;
  z-index: 20;
  width: 100%;
  padding: 0 20px;
}
header .headerNav {
  max-width: 100%;
  height: 60%;
  margin-top: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
header .mobileContainer {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
header .mobileFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100px;
}
header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  height: 80px;
  width: 80px;
  padding: 0;
}
header .logoContainer:focus, header .logoContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
}
header .logoContainer:focus .logoCircle {
  outline: 3px solid #eca38e;
}
header .logoCircle {
  border: 3px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 65px;
}
header .mobileNavButton {
  padding: 1.5rem 2rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 20;
}
header .mobileNavButton p {
  margin-top: 0;
  padding: 1rem;
  text-transform: uppercase;
}
header .mobileNavButton:active {
  outline: none;
}
header .mobileNavButton:active p {
  font-weight: 700;
}
header .mobileNavList {
  position: fixed;
  top: -1px;
  left: -10000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #135c71;
}
header .mobileNavList li {
  font-size: 1.92rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  z-index: 30;
  height: 50px;
  padding-left: 10px;
}
header .mobileNavList a {
  color: #135c71;
  padding: 5px 5px;
  width: 100px;
}
header .mobileNavList a:hover, header .mobileNavList a:focus {
  border-bottom: 3px solid #135c71;
  -webkit-transform: none;
          transform: none;
}
header .mobileNavList a:active {
  border: none;
  outline: none;
  font-weight: 700;
}
header .navOpen {
  -webkit-transition: display 0.3s;
  transition: display 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  margin-bottom: 20rem;
  display: block;
  z-index: 100;
}
header .navOpen .mobileContainer {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: white;
  max-width: 100%;
}
header .navOpen button {
  color: #135c71;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
header .navOpen button:focus {
  outline: 3px solid #a755c2;
}
header .navOpen .mobileNavList {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  margin-top: 100px;
}
header .navOpen .navButtonText {
  display: none;
}
header .navOpen .logoContainer:focus .logoCircle {
  outline: 3px solid #a755c2;
}
header .navOpen .logoCircle {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  color: #135c71;
  border: 3px solid #135c71;
}
header .navOpen .mobileMenuLink:focus {
  outline: 3px solid #a755c2;
}
header .headingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem auto 15rem auto;
}
header .downArrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 6rem auto;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
header .downArrowContainer .downArrow {
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 2rem;
}
header .downArrowContainer .downArrow:visited {
  color: white;
}
header .downArrowContainer .downArrow:focus {
  outline: 3px solid #eca38e;
}
header .downArrowContainer i {
  font-size: 35px;
  font-size: 3.5rem;
}

footer {
  background-color: #135c71;
  color: white;
  width: 100%;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
footer li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer a:focus {
  outline: 3px solid #eca38e;
}

.about {
  background-color: white;
  color: black;
}
.about img {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 50%;
}
.about h3 {
  font-size: 17px;
  font-size: 1.7rem;
}
.about .aboutLinkContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.about .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .imageContainer {
  width: 85%;
}

.myProfileLink,
.readMore {
  margin-top: 50px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: underline;
  padding: 10px 2px 5px 2px;
}
.myProfileLink:hover, .myProfileLink:focus,
.readMore:hover,
.readMore:focus {
  font-weight: 700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  background-color: #F7F7F7;
}
.skills ul {
  color: #135c71;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}
.skills h2, .skills h4 {
  color: black;
}
.skills .firebaseIcon,
.skills .adobeIcon {
  max-width: 40px;
  height: auto;
}

.projects {
  background-color: #63adf2;
  color: black;
}
.projects a,
.projects i {
  color: black;
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.projects li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .taglinesProject {
  background-color: #ef8354;
}
.projects .taglinesProject a {
  background-color: #ef8354;
}
.projects .underTheSeaProject {
  background-color: #135c71;
  color: white;
}
.projects .underTheSeaProject h3, .projects .underTheSeaProject i, .projects .underTheSeaProject a {
  color: white;
}
.projects .underTheSeaProject a {
  background-color: #135c71;
}
.projects .underTheSeaProject .githubLink,
.projects .underTheSeaProject .viewLiveLink {
  border: 1px solid white;
}
.projects .underTheSeaProject .githubLink:hover, .projects .underTheSeaProject .githubLink:focus,
.projects .underTheSeaProject .viewLiveLink:hover,
.projects .underTheSeaProject .viewLiveLink:focus {
  border: 3px solid white;
}
.projects .goodGamesProject {
  background-color: #83bca9;
}
.projects .goodGamesProject a {
  background-color: #83bca9;
}
.projects .gameBoyConfigProject {
  background-color: #a755c2;
}
.projects .gameBoyConfigProject a {
  background-color: #a755c2;
}
.projects .projectTitle {
  justify-self: center;
  width: 100%;
  border: none;
  z-index: 10;
}
.projects .projectTitle h3 {
  margin: 10px 0;
  width: 100%;
}
.projects .projectTitle:hover, .projects .projectTitle:focus {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: underline;
}
.projects .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.projects .projectListItem {
  margin: 25px 0;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projects .projectDescription {
  width: 100%;
  margin-top: 10px;
}
.projects .projectDescription a {
  text-decoration: underline;
}
.projects .techListItem {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  margin-top: 10px;
  text-align: center;
  border: none;
}
.projects .firebaseIcon {
  color: black;
}
.projects .linksContainer {
  margin-top: 5px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .githubLink,
.projects .viewLiveLink {
  text-align: center;
  background-color: #63adf2;
  margin-top: 25px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  padding: 15px 10px;
  border: 1px solid black;
}
.projects .githubLink:hover, .projects .githubLink:focus,
.projects .viewLiveLink:hover,
.projects .viewLiveLink:focus {
  border: 3px solid black;
  font-weight: 700;
}

.blog {
  color: black;
  background-color: white;
}
.blog .subHeadingContainer h4 {
  padding-top: 16px;
}
.blog .blogTitle {
  z-index: 10;
}
.blog .blogTitle:hover, .blog .blogTitle:focus {
  -webkit-transform: none;
          transform: none;
  text-decoration: underline;
}
.blog p {
  margin: 25px 0;
}
.blog article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .readMore {
  padding: 39px 2px 5px 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.blog .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  color: black;
  background-color: #F7F7F7;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.profile .profileList {
  width: 100%;
}
.profile .profileListItem {
  background-color: white;
  padding: 20px 20px;
  min-height: 611px;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile .profileListItem ul {
  list-style-type: disc;
  list-style-position: inside;
  display: block;
}
.profile .profileListItem li {
  margin: 20px 0;
  text-align: left;
}
.profile .itemHeadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.profile .itemHeadingContainer i {
  margin-right: 5px;
  margin-bottom: 20px;
}
.profile .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileForm label {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 15px 20px;
}
.profileForm fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 0;
  margin: 15px 0;
}
.profileForm .profileFormIcon:hover, .profileForm .profileFormIcon:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.contact {
  background-color: #135c71;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
.contact .wrapper {
  overflow: hidden;
}
.contact form,
.contact .phoneEmailInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact form {
  width: 99%;
  max-width: 99%;
}
.contact .phoneEmailInputs {
  width: 100%;
}
.contact input,
.contact textarea {
  padding: 10px 5px;
  margin: 10px 0;
  border: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 1px solid white;
  background-color: #135c71;
  width: 100%;
  max-width: 100%;
  height: 50px;
}
.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  opacity: 1;
}
.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  opacity: 1;
}
.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  opacity: 1;
}
.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
  opacity: 1;
}
.contact input::placeholder,
.contact textarea::placeholder {
  opacity: 1;
}
.contact input:focus, .contact input:hover,
.contact textarea:focus,
.contact textarea:hover {
  border-bottom: 3px solid #eca38e;
}
.contact input:focus,
.contact textarea:focus {
  background-color: #eca38e;
  color: black;
  outline: 3px solid #eca38e;
}
.contact textarea {
  height: 275px;
  max-width: 100%;
  border: 1px solid white;
}
.contact textarea:focus, .contact textarea:hover {
  border: 3px solid #eca38e;
}
.contact .yourMessageLabel {
  padding: 25px 5px 5px 2px;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90%;
  display: block;
}
.contact .sendButton {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 0;
  margin: 25px 0;
  cursor: pointer;
}
.contact .sendButton:focus {
  outline: 3px solid #eca38e;
}
.contact .sendButton:active {
  background-color: #eca38e;
  color: black;
  border: none;
  outline: none;
}
.contact a:focus {
  outline: 3px solid #eca38e;
}
.contact nav {
  max-width: 100%;
  overflow: hidden;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  max-width: 20%;
}
.contact ul a {
  max-width: 100%;
  padding: 0 5px;
  z-index: 10;
}
.contact ul i {
  display: block;
  max-width: 100%;
}

@media (min-width: 360px) {
  h2 {
    font-size: 5.9996rem;
  }
  header h3,
.about h3,
.about p,
.projects h3,
.myProfileLink,
.readMore {
    font-size: 1.87rem;
    line-height: 3.08rem;
  }
  .about .imageContainer {
    width: 75%;
  }
}
@media (min-width: 428px) {
  header h1 {
    font-size: 6.12rem;
    line-height: 6.36rem;
  }
  header h1 .firstName {
    font-size: 4.2rem;
    line-height: 4.32rem;
  }
  header h3 {
    font-size: 2.04rem;
  }
  header .headingContainer {
    margin-bottom: 20rem;
  }
  header .downArrowContainer {
    margin-top: 1rem;
  }
  .about .imageContainer {
    width: 60%;
  }
  .projects .techListItem {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
  .projects h3 {
    font-size: 2.499rem;
  }
  .projects p {
    font-size: 2rem;
    line-height: calc(auto * 1.25);
  }
  .profile .profileListItem {
    min-height: 555px;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 7.95rem;
  }
  header h1 {
    font-size: 7.14rem;
    line-height: 7.42rem;
  }
  header h1 .firstName {
    font-size: 4.9rem;
    line-height: 5.04rem;
  }
  header h3 {
    font-size: 2.38rem;
  }
  header .mobileContainer {
    display: none;
  }
  header .desktopNav {
    width: 100%;
    max-width: 100%;
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .desktopNav a {
    padding: 25px 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 2.21rem;
  }
  header .desktopNav a:hover, header .desktopNav a:focus {
    border-bottom: 3px solid white;
  }
  header .desktopNav a:focus {
    outline: 3px solid #eca38e;
  }
  header .navOpen {
    margin-bottom: 0;
  }
  header .desktopLogoContainer a:hover, header .desktopLogoContainer a:focus {
    outline: none;
    border: none;
  }
  header .desktopLogoContainer a:hover .logoCircle, header .desktopLogoContainer a:focus .logoCircle {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header .desktopLogoContainer a:focus .logoCircle {
    outline: 3px solid #eca38e;
  }
  header .desktopLogoContainer a .logoCircle {
    color: white;
    border: 3px solid white;
    font-size: 2.21rem;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
  }
  .about h3,
.about p,
.about .myProfileLink {
    font-size: 1.92rem;
  }
  .about .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .contentContainer {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .about .imageContainer {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding-bottom: 150px;
  }
  .skills ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills li {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .skills .problemSolving {
    display: block;
  }
  .projects .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .flexContainer img {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    max-width: 49%;
  }
  .projects .projectContentContainer {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .rowReverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .projects .projectDescription {
    font-size: 2.08rem;
    line-height: 3.5rem;
    margin: 25px 0 15px 0;
  }
  .projects .projectListItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 0;
  }
  .projects h3 {
    display: block;
    width: 100%;
    font-size: 3.4rem;
  }
  .projects .techListItem {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    margin-top: 10px;
  }
  .projects .linksContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
  }
  .projects .linksContainer a {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .blog h3 {
    font-size: 3.4rem;
  }
  .blog p {
    margin-top: 0;
    font-size: 2.4rem;
  }
  .blog img {
    max-width: 52%;
  }
  .blog .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog .flexContainer .contentContainer {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog .readMore {
    padding-top: 62px;
  }
  .profile a {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .profile .profileListItem {
    padding: 30px 30px;
    min-height: 512px;
  }
  .profile p,
.profile .profileListItem li {
    font-size: 1.92rem;
  }
  .profile .linksContainer {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .profile .meetWithMe {
    margin-top: 25px;
  }
  .contact .phoneEmailInputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .phoneEmailInputs input {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 940px) {
  h2 {
    font-size: 10.6rem;
    line-height: 10.6rem;
  }
  .subHeadingContainer h4 {
    font-size: 2.4rem;
    padding-top: 25px;
  }
  .wrapper {
    max-width: 1100px;
  }
  header h1 {
    font-size: 9.18rem;
    line-height: 9.54rem;
  }
  header h1 .firstName {
    font-size: 6.3rem;
    line-height: 6.48rem;
  }
  header h3 {
    font-size: 3.06rem;
  }
  header .logoCircle {
    height: 80px;
    width: 80px;
  }
  header .downArrow i {
    font-size: 5.1rem;
  }
  .about h3,
.about p,
.about .myProfileLink {
    font-size: 2.38rem;
    line-height: 3.4rem;
  }
  .about .imageContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills p {
    font-size: 1.92rem;
  }
  .skills i {
    font-size: 3.6rem;
  }
  .projects h3 {
    font-size: 4.25rem;
  }
  .projects .techListItem i {
    font-size: 3.6rem;
  }
  .projects .projectDescription {
    font-size: 2.56rem;
    line-height: 4.16rem;
  }
  .blog .subHeadingContainer h4 {
    height: 60px;
    padding-top: 7px;
  }
  .blog p,
.blog .readMore {
    font-size: 2.55rem;
    line-height: 3.4rem;
  }
  .profile .profileListItem {
    min-height: 607px;
  }
  .profile .profileListItem p,
.profile .profileListItem li,
.profile .profileInstructions {
    font-size: 2.38rem;
    line-height: 3.57rem;
  }
}