<button class="button"></button>
<style lang="scss">
    @use "../abstracts" as *;

    .button {
        display: inline-block;
        font-weight: $semi-bold;
        font-size: $fs-300;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        letter-spacing: 0.04em;
        padding: 0.95em 1.75em 0.85em;
        cursor: pointer;
        color: $primary-950;
        background-color: $primary-500;
        border-radius: 100vw;
        box-shadow: $box-shadow;

        @include hover-lift;

        &:hover,
        &:focus-visible {
            color: $primary-950;
            background-color: $primary-600;
        }

        &:active {
            color: $primary-950;
            background-color: $primary-700;
        }

        &:disabled {
            color: $primary-400;
            background-color: $primary-100;
            cursor: not-allowed;
        }
    }
</style>
