---
interface Props {
  preamble: string;
  heading: string;
  colour?: string;
}
const { preamble, heading, colour} = Astro.props;
---
<div class="section-heading-container">
  <h2 class=`uppercase ${colour} fw-bold fs-900`>
    <span class={`fw-regular heading-size-sm lowercase ${colour}`}>{preamble}
      <span class="sr-only">:</span>
    </span>
    {heading}
  </h2>
</div>
<style lang="scss">
  @use "../../sass/abstracts" as *;
  @use "../../sass/utilities" as *;
  .section-heading-container {
    width: 100%;
    @include flex-column;
    justify-content: center;
    align-items: center;

    h2 {
      position: relative;
      display: flex;
      width: fit-content;

      span:not(.sr-only) {
        width: 50%;
        z-index: 30;
        max-height: 50px;
        min-height: fit-content;
        position: absolute;
        left: 100%;
        transform: translateX(-100%) translateY(-90%);
        font-family: $subheading-font;
        display: block;
        text-align: left;
        border-left: 1px solid currentColor;
        padding: 2ex 0 2ex 0.5em;
        margin-bottom: 5ex;
      }
    }
}
</style>
